Repository markrae/BookCollections, pull requests merged in 2018-03, with the labels that each got.

#27 Recycler view feature
  app/build.gradle
  app/src/main/java/org/launchcode/g7/bookcollections/ItemListFragment.java
  app/src/main/java/org/launchcode/g7/bookcollections/MainActivity.java
  app/src/main/java/org/launchcode/g7/bookcollections/MyItemRecyclerViewAdapter.java
  app/src/main/java/org/launchcode/g7/bookcollections/dummy/DummyContent.java
  app/src/main/res/layout/content_main.xml
  app/src/main/res/layout/fragment_item.xml
  app/src/main/res/layout/fragment_item_list.xml
  app/src/main/res/values/dimens.xml
Labels: View

#31 Adam dev
  app/src/main/java/org/launchcode/g7/bookcollections/dummy/DummyContent.java
  app/src/main/java/org/launchcode/g7/bookcollections/models/Book.java
Labels: View

#33 File saving feature complete!
  app/src/main/java/org/launchcode/g7/bookcollections/BookReadWrite.java
  app/src/main/java/org/launchcode/g7/bookcollections/MainActivity.java
  app/src/main/java/org/launchcode/g7/bookcollections/dummy/DummyReadWrite.java
  app/src/main/java/org/launchcode/g7/bookcollections/models/Book.java
  app/src/main/java/org/launchcode/g7/bookcollections/models/Shelf.java
  app/src/main/res/values/strings.xml
Labels: MVP, Model/Storage

#34 RecyclerViewDisplaysFileFeature
  app/src/main/java/org/launchcode/g7/bookcollections/BookReadWrite.java
  app/src/main/java/org/launchcode/g7/bookcollections/BookRecyclerViewAdapter.java
  app/src/main/java/org/launchcode/g7/bookcollections/ItemListFragment.java
  app/src/main/java/org/launchcode/g7/bookcollections/MainActivity.java
  app/src/main/java/org/launchcode/g7/bookcollections/ShelfRecyclerViewAdapter.java
  app/src/main/java/org/launchcode/g7/bookcollections/models/Book.java
  app/src/main/java/org/launchcode/g7/bookcollections/models/Shelf.java
Labels: Controller/Presenter, MVP, Model/Storage, View, touches all MVC
